{
  "Panoramas": {
    "panorama.example.com": {
      "address": "panorama.example.com",
      "auditTarget": "any",
      "auditSPGs": [
        "KO_BLOCK_FILESHARE_SPG",
        "KO_FILE-BLOCK_SPG",
        "KO_SRV_TRST-UTRST_SPG",
        "KO_TRST-TRST_SPG",
        "KO_TRST-UTRST_SPG",
        "KO_UTRST-TRST_SPG"
      ],
      "includeDisabledRules": false
    }
  },
  "globalConfig": {
    "currentPanorama": "panorama.example.com",
    "maxThreads": 15,
    "maxActiveProcesses": 5
  },
  "extraArguments": {
    "shadow-ignoreInvalidAddressobjects": "enabled",
    "shadow-json": "enabled"
  }
}